<nav class="nav nav-tabs">
    <table>
        <tr> 
          <th><a class="nav-link" routerLink='search'>Search Book</a></th>
          <th><a class="nav-link" routerLink="signup">SignUp</a></th>
          <th><a class="nav-link" routerLink='signin'>SignIn</a></th>
          <th><a class="nav-link" routerLink='createBook'>createBook</a></th>
          <th><a class="nav-link" routerLink='buyBook'>BuyBook</a></th>
          <th><a class="nav-link" routerLink='readBook'>readBook</a></th>
          <th><a class="nav-link" routerLink='checkPayment'>SearchBookByPaymentId</a></th>
        </tr>
        </table>
</nav>


