<table style="width:100%">
  
    <tr style="background-color: rgb(182, 211, 16);">
     
    
      <td>
      <h3 align="center">Get Order Books By Payment ID & Email</h3>      
      </td>  
    </tr> 
  </table>
<div>

<div class="col-md-3" align="center">
    <label class="form-label" style="font-family:verdana">Email</label>
    <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="Email *" />
    <br>
    <label class="form-label" style="font-family:verdana">PaymentId</label>
    <input type="text" class="form-control" placeholder="PaymentId *"  [(ngModel)]="user.paymentId">
</div>

<div align="center">
    <button class="btn btn-primary mb-3"  (click) = "checkByPaymentId()" >Submit</button>
</div>
