<h3>SignUp page</h3>

<div>
    <label >Username:</label>
    <input type="text"  [(ngModel)]="user.username" placeholder="Enter Username"/><br>
    <label >Password:</label>
    <input type="password" [(ngModel)]="user.password" placeholder="Enter your pasword"/><br>
    <label>Email:</label>
    <input type="text" [(ngModel)]="user.email" placeholder="Enter your Email"/><br>
    <button  type="button" class="btn btn-primary" (click)="signup()">Submit</button>
    <button class='btn btn-primary' type="button" (click)="signup()">Signup</button>
</div>
