<table style="width:100%">
  
    <tr style="background-color: rgb(182, 211, 16);">
          
      <td>
      <h3 align="center">Read Book</h3>     
      </td>  
    </tr> 
</table> 
<div align="center">
    <div class="col-md-3">
        <label class="form-label" style="font-family:verdana">Email</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="Email *" />
    </div>
    <div class="col-md-3">
<label class="form-label" style="font-family:verdana" for="bookId">BookId</label>
<input type="text" class="form-control"  placeholder="BookId *" [(ngModel)]="user.bookId">
</div>
</div>

<div align="center">
    <button  class="btn btn-primary mb-3" (click)= "readBook()" >ReadBook</button>
</div>
